---
layout: default
title: Trang chủ
---

<div class="post-grid-container">

  {% for post in paginator.posts %}
      
    <article class="post-card">
    
      {% if post.image %}
      <div class="postthumb">
        <a href="{{ post.url | relative_url }}">
            <div class='post-thumb' style='background-image: url("{{ post.image | relative_url }}");'></div>
        </a>
      </div>
      {% endif %}

      <div class="card-content">
        </div>

    </article>

  {% endfor %}

</div>

<div style="clear: both;"></div>
