---
layout: default # Kế thừa từ khung sườn default.html
---
<div class='post hentry uncustomized-post-template' itemprop='blogPost' itemscope='itemscope' itemtype='http://schema.org/BlogPosting'>

  <div class='post-header'>
    <div class='post-date'>
      {{ page.date | date: "%d-%m-%Y" }} </div>
    <h1 class='post-title entry-title' itemprop='name'>
      {{ page.title }} </h1>
    </div>

  <div class='post-body entry-content' id='post-body-{{ page.id }}' itemprop='articleBody'>
    {{ content }} <div style='clear: both;'></div>
  </div>
  <div class='post-footer'>
    {% if page.tags.size > 0 %}
    <div class='post-labels'>
      Tags:
      {% for tag in page.tags %}
        <a href='/tags/{{ tag | slugify }}/'>{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </div>
    {% endif %}
    <div style='clear: both;'></div>
  </div>
